/* Globals */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.bg-orange {
	background-color: #d35649;
}
.bg-light-orange {
	background-color: #e17f65;
}
/* jumbotron button */
.bg-gray {
	background-color: #edf1f4;
}
.bg-deep-gray {
	background-color: #98a4a5;
}
/* footer color */
.bg-mid-gray {
	background-color: #bfbdbc;
}
.bg-mid-dark {
	background-color: #1f1f1f;
}
.bg-light-blue {
	background-color: #519cd8;
}

.text-orange {
	color: #e07364;
}
.text-dark {
	color: #8d8f91;
}
.text-gray {
	color: #d1d7d9;
}
.jumbotron {
	background: linear-gradient(rgba(241, 70, 84, 0.8), rgba(94, 129, 190, 0.5)),
		url("../images/bg-img-2.jpg") center no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	min-height: calc(100vh-40px);
	background-attachment: fixed;
}
.container {
	position: relative;
}
.container span {
	position: absolute;
	top: 6.5rem;
	left: 10.1rem;
}
.jumbotron h2 {
	width: 60rem;
	text-align: left;
}
.search-form {
	width: 60rem;
	height: 10rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(225, 225, 225, 0.6);
	border-radius: 0.5rem;
	margin-bottom: 5rem;
	box-shadow: 1rem 2rem 5rem #aaa;
}
.search-form input {
	font-size: 1.6rem;
	border: none;
	height: 3rem;
}

.search-form input[type="text"] {
	width: 60%;
}

.search-form input[type="submit"] {
	width: 25%;
	text-transform: uppercase;
	background-color: #ed2c49;
	color: #fff;
}

/* SERVICES */
#services {
	padding: 100px 0 50px 0;
	background-color: #fff;
	margin-top: 2rem;
}

#services .col-md-6 img {
	margin-bottom: 30px;
	height: 85px;
}
#services .col-md-6 img:hover {
	transform: scale(1.2);
	transition: all 0.4s ease-in-out;
}

#services h4 {
	font-family: var(--roboto);
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: capitalize;
	color: #333 !important;
}
p {
	font-family: var(--roboto);
	color: var(--mainGrey);
	margin-bottom: 20px;
	line-height: 1.5;
}
